body{
	background: #cccccc;
	font-family: sans-serif;
}

.player_one, .player_two{
	display: flex;
	flex-direction: column;
	padding: 10px;
	background: white;
	border-radius: 5px;
}

.player_two{
	margin: auto 25%;
	max-width: 50%;
	text-align: center;
}

.player_two audio{
	width: 100%;
}
li{
	list-style-type: none;
	margin-bottom: 5px;
}

a{
	text-decoration-line: none;
}


a:link{
	color: black;
}

h1, h2{
	text-align: center;
}